@import "tailwindcss";

@theme {
  /* Colores del proyecto */
  --color-primary: #222222;
  --color-secondary: #FFFFFF;
  --color-astreblue: #1D3557;
  
  /* Configuración de fuentes */
  --font-heading: 'Helvetica Neue', sans-serif;
  --font-heading-weight: 700;
  --font-body: 'Helvetica Neue', sans-serif;
  --font-body-weight: 300;
}
